In [12]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import sklearn.linear_model

In [13]:
netflix_titles = pd.read_csv('netflix_titles.csv')
netflix_titles

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
...,...,...,...,...,...,...,...,...,...,...,...,...
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
8803,s8804,TV Show,Zombie Dumb,NaN,NaN,NaN,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g..."
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

In [14]:
netflix_titles.shape

(8807, 12)

In [15]:
#Data Correlation Matrix
cor_matrix=netflix_titles.corr().round(decimals=1)
cor_matrix

              release_year
release_year           1.0

In [16]:
#check missing values 
netflix_titles.isna().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

In [17]:
missing_percentage = (netflix_titles.isna().sum() / len(netflix_titles)) * 100
print(missing_percentage)

show_id          0.000000
type             0.000000
title            0.000000
director        29.908028
cast             9.367549
country          9.435676
date_added       0.113546
release_year     0.000000
rating           0.045418
duration         0.034064
listed_in        0.000000
description      0.000000
dtype: float64

In [18]:
netflix_titles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

In [19]:
import pandas as pd

# Assuming netflix_titles is your DataFrame
# Checking for duplicates
duplicates = netflix_titles[netflix_titles.duplicated()]

if duplicates.empty:
    print("No duplicates found.")
else:
    print("Duplicate rows found:\n", duplicates)

No duplicates found.

In [20]:
netflix_titles['country'] = netflix_titles['country'].fillna(netflix_titles['country'].mode()[0])


netflix_titles['cast'].replace(np.nan, 'No Data',inplace  = True)
netflix_titles['director'].replace(np.nan, 'No Data',inplace  = True)

# Drops

netflix_titles.dropna(inplace=True)

# Drop Duplicates

netflix_titles.drop_duplicates(inplace= True)

In [21]:
netflix_titles.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8790 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8790 non-null   object
 1   type          8790 non-null   object
 2   title         8790 non-null   object
 3   director      8790 non-null   object
 4   cast          8790 non-null   object
 5   country       8790 non-null   object
 6   date_added    8790 non-null   object
 7   release_year  8790 non-null   int64
 8   rating        8790 non-null   object
 9   duration      8790 non-null   object
 10  listed_in     8790 non-null   object
 11  description   8790 non-null   object
dtypes: int64(1), object(11)
memory usage: 892.7+ KB

In [22]:
netflix_titles.isna().sum()

show_id         0
type            0
title           0
director        0
cast            0
country         0
date_added      0
release_year    0
rating          0
duration        0
listed_in       0
description     0
dtype: int64

In [10]:
from IPython.display import FileLink
cleaned_netflix_titles = 'cleaned_netflix_titles.csv'
netflix_titles.to_csv(cleaned_netflix_titles, index =False)
FileLink(cleaned_netflix_titles)

C:\Users\ngochuyen\cleaned_netflix_titles.csv

In [11]:
from IPython.display import FileLink

cleaned_netflix_titles = 'cleaned_netflix_titles.csv'
netflix_titles.to_csv(cleaned_netflix_titles, index=False, sep=',', encoding='utf-8')

# Create a download link for the cleaned CSV file in the Jupyter Notebook
FileLink(cleaned_netflix_titles)

C:\Users\ngochuyen\cleaned_netflix_titles.csv

In [12]:
cleaned_netflix_titles = 'cleaned_netflix_titles.csv'
netflix_titles.to_csv(cleaned_netflix_titles, index=False)

# Provide a download link for the cleaned CSV file in the Jupyter Notebook
from IPython.display import FileLink
FileLink(cleaned_netflix_titles)

C:\Users\ngochuyen\cleaned_netflix_titles.csv

In [13]:
import pandas as pd
from IPython.display import HTML

# Assuming netflix_titles is your modified DataFrame
cleaned_netflix_titles = 'cleaned_netflix_titles.csv'
netflix_titles.to_csv(cleaned_netflix_titles, index=False)

# Create a download link for the cleaned CSV file in the Jupyter Notebook
HTML(f'<a href="{cleaned_netflix_titles}" download="cleaned_netflix_titles.csv">Click here to download the CSV file</a>')